<div class="form_item_block">
  <label>Stage name where the sonar scan is executed</label>
  <input type="text" ng-model="StageName" ng-required="false">
  </input>
</div>
<div class="form_item_block">
  <label>Job name where the sonar scan is executed</label>
  <input type="text" ng-model="JobName" ng-required="false">
  </input>
</div>
<div class="form_item_block">
  <label>Stage counter</label>
  <input type="text" ng-model="JobCounter" ng-required="false">
  </input>
</div>
<div class="form_item_block">
  <label>Key of Sonar Project<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="SonarProjectKey" ng-required="true">
  </input>
</div>
<div class="form_item_block">
  <label>Fail Quality Gate result:</label>
  <select ng-model="IssueTypeFail">
    <option value="error">Error and Missing</option>
    <option value="warning">Warning, Error and Missing</option>
  </select>
</div>
<div class="form_item_block">
  <label>SonarQube Api Url<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="SonarApiUrl" ng-required="true">
  </input>
</div>

