<?xml version="1.0" encoding="utf-8" ?>

<go-plugin id="nessus.scan.task.plugin" version="1">
    <about>
        <name>Nessus Security Scan Task Plugin</name>
        <version>PLUGIN_VERSION_NUMBER</version>
        <target-go-version>GO_TARGET_VERSION_NUMBER</target-go-version>
        <description>
           Task plugin that executes a nessus scan from Go
        </description>
        <vendor>
            <name>Markus Wehrle</name>
            <url></url>
        </vendor>
    </about>
</go-plugin>
