<div class="form_item_block">
  <div class="form_item_block">
    <div class="checkbox_row">
      <input id="CleanBeforeTask1" type="checkbox" ng-model="CleanBeforeTask1"
             ng-init="CleanBeforeTask1 = CleanBeforeTask"
             ng-change="CleanBeforeTask = CleanBeforeTask1"
             ng-true-value="true"
             ng-false-value="false">
      <input id="CleanBeforeTask" type="hidden" ng-model="CleanBeforeTask" value="{{CleanBeforeTask}}">
      <label for="CleanBeforeTask">Restart Docker service, stop and remove all containers and images</label>
    </div>
  </div>

  <div class="form_item_block">
    <div class="checkbox_row">
      <input id="CleanAfterTask1" type="checkbox" ng-model="CleanAfterTask1"
             ng-init="CleanAfterTask1 = CleanAfterTask"
             ng-change="CleanAfterTask = CleanAfterTask1"
             ng-true-value="true"
             ng-false-value="false">
      <input id="CleanAfterTask" type="hidden" ng-model="CleanAfterTask" value="{{CleanAfterTask}}">
      <label for="CleanAfterTask">Remove all images after push</label>
    </div>
  </div>
</div>

<h3>Build settings:</h3>
<div class="form_item_block">
  <label>Build args:</label>
  <input type="text" ng-model="BuildArgs" ng-required="false">
  <div class="inline_instruction">Provide one or multiple build args separated by ';'. Define a different separator as the VERY FIRST character (example "|arg1=xyz|arg2=123") </div>
  <span class="form_error" ng-show="GOINPUTNAME[BuildArgs].$error.server">{{ GOINPUTNAME[BuildArgs].$error.server }}</span>
</div>

<div class="form_item_block">
  <label>Image name:<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="ImageName" ng-required="true">
  <span class="form_error" ng-show="GOINPUTNAME[ImageName].$error.server">{{ GOINPUTNAME[ImageName].$error.server }}</span>
</div>

<div class="form_item_block">
  <label>Dockerfile path and its name :
  </label>
  <input type="text" ng-model="DockerFileName" ng-required="false">
  <div class="inline_instruction">Path and name of Dockerfile relative to repository-root (default is ./Dockerfile).
  </div>
<span class="form_error"
      ng-show="GOINPUTNAME[DockerFileName].$error.server">{{ GOINPUTNAME[DockerFileName].$error.server }}</span>
</div>

<h3>Tag settings:</h3>
<div class="form_item_block">
  <label>Username:
  </label>
  <input type="text" ng-model="Username" ng-required="false">
<span class="form_error"
      ng-show="GOINPUTNAME[Username].$error.server">{{ GOINPUTNAME[Username].$error.server }}</span>
</div>

<div class="form_item_block">
  <label>Image tag:<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="ImageTag" ng-required="true">
  <div class="inline_instruction">You must specify at least one tag. Provide multiple tags separated by ';'. Define a different separator as the VERY FIRST character (example "|tag1|tag2") </div>
  <span class="form_error" ng-show="GOINPUTNAME[ImageTag].$error.server">{{ GOINPUTNAME[ImageTag].$error.server }}</span>
</div>

<h3>Push settings:</h3>
<div class="form_item_block">
  <label>Username:
  </label>
  <input type="text" ng-model="RegistryUsername" ng-required="false">
<span class="form_error"
      ng-show="GOINPUTNAME[RegistryUsername].$error.server">{{ GOINPUTNAME[RegistryUsername].$error.server }}</span>
</div>

<div class="form_item_block">
  <label>Password:
  </label>
  <input type="password" ng-model="RegistryPassword" ng-required="false">
<span class="form_error"
      ng-show="GOINPUTNAME[RegistryPassword].$error.server">{{ GOINPUTNAME[RegistryPassword].$error.server }}</span>
</div>

<div class="form_item_block">
  <label>Registry URL:<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="RegistryURLForLogin" ng-required="true">
  <span class="form_error" ng-show="GOINPUTNAME[RegistryURLForLogin].$error.server">{{ GOINPUTNAME[RegistryURLForLogin].$error.server }}</span>
</div>