<div class="form_item_block">
  <div class="checkbox_row">
    <input id="IsDockerClean1" type="checkbox" ng-model="IsDockerClean1" ng-init="IsDockerClean1 = IsDockerClean" ng-change="IsDockerClean = IsDockerClean1" ng-true-value="true" ng-false-value="false">
    <input id="IsDockerClean" type="hidden" ng-model="IsDockerClean" value="{{IsDockerClean}}">
    <label for="IsDockerClean">Clean before build</label>
  </div>
</div>

<h3>Build settings:</h3>

<div class="form_item_block">
  <label>Registry :
  </label>

  <input type="text" ng-model="RegistryURL" ng-required="false">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[RegistryURL].$error.registryurl">Incorrect registry URL</span>


  <br>
  <br>
  <br>
  <br>


  <label>Image name:<span class="asterisk">*</span>
  </label>

  <input type="text" ng-model="ImageName" ng-required="true">
  </input>
    <span class="form_error" ng-show="GOINPUTNAME[ImageName].$error.imagename">Incorrect image name</span>


  <br>
  <br>
  <br>
  <br>

  <label>Dockerfile path and its name :
  </label>

  <input type="text" ng-model="DockerFileName" ng-required="false">
  </input>
  <br>
  <br>
  <label>Note: </label>
  <ul>
    <li>  - only fill this field if the Dockerfile is in a folder and/or if it has a different name than Dockerfile</li>
    <br>
    <br>
    <li>  - don't include "/var/lib/go-agent/pipelines/pipeline_name/"</li>
  </ul>
  <span class="form_error" ng-show="GOINPUTNAME[DockerFileName].$error.dockerfilename">Incorrect docker file name</span>
</div>




<h3>Tag settings:</h3>

<div class="form_item_block">
  <label>Username:<span class="asterisk">*</span>
  </label>

  <input type="text" ng-model="Username" ng-required="true">
  </input>
    <span class="form_error" ng-show="GOINPUTNAME[Username].$error.usernameurl">Incorrect username for the registry URL</span>


    <br>
    <br>
    <br>
    <br>


    <label>Image tag 1:<span class="asterisk">*</span>
        </label>

  <input type="text" ng-model="ImageTag1" ng-required="true">
  </input>
    <span class="form_error" ng-show="GOINPUTNAME[ImageTag].$error.imagetag1">Incorrect image tag</span>

  <br>
  <br>
  <br>
  <br>


  <label>Image tag 2 (optional):
  </label>

  <input type="text" ng-model="ImageTag2" ng-required="false">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[ImageTag].$error.imagetag2">Incorrect image tag</span>

  <br>
  <br>
  <br>
  <br>


  <label>Image tag 3 (optional):
  </label>

  <input type="text" ng-model="ImageTag3" ng-required="false">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[ImageTag].$error.imagetag3">Incorrect image tag</span>
</div>




<h3>Login settings:</h3>

<div class="form_item_block">
  <label>Username:<span class="asterisk">*</span>
  </label>

  <input type="text" ng-model="RegistryUsername" ng-required="true">
  </input>
    <span class="form_error" ng-show="GOINPUTNAME[RegistryUsername].$error.registryusername">Incorrect registry username</span>


    <br>
    <br>
    <br>
    <br>

  <label>Password:<span class="asterisk">*</span>
  </label>

  <input type="password" ng-model="RegistryPassword" ng-required="true">
  </input>
    <span class="form_error" ng-show="GOINPUTNAME[RegistryPassword].$error.registrypassword">Incorrect registry password</span>


    <br>
    <br>
    <br>
    <br>

  <label>E-mail adress:<span class="asterisk">*</span>
  </label>

  <input type="text" ng-model="RegistryEmail" ng-required="true">
  </input>
    <span class="form_error" ng-show="GOINPUTNAME[RegistryEmail].$error.registryemail">Incorrect registry email</span>


    <br>
    <br>
    <br>
    <br>

  <label>Registry URL for login and push:<span class="asterisk">*</span>
  </label>

  <input type="text" ng-model="RegistryURLForLogin" ng-required="true">
  </input>
    <span class="form_error" ng-show="GOINPUTNAME[RegistryURLForLogin].$error.registryurlforlogin">Incorrect registry URL for login</span>
</div>