<?xml version="1.0" encoding="utf-8" ?>

<go-plugin id="docker.plugin" version="1">
<about>
<name>Docker plugin</name>
<version>2.0</version>
<target-go-version>16.9.0</target-go-version>
<description>
    Plugin that builds a docker file, tags the images, pushes it to the artifactory and cleans everything
</description>
<vendor>
    <name>Camil Bradea</name>
    <url></url>
</vendor>
</about>
</go-plugin>